[user]
  name = Danielle Stanton
  email = delisestanton@gmail.com

[github]
  user = destanton

[core]
  excludesfiles = ~/.gitignore_global
  editor = subl -n -w

[alias]
  lg = log --pretty=format:'%Cred%h%Creset - %C(yellow)[%cr] %C(green)%d%Creset %s - %C(bold blue)[%cn]%Creset'
  ln = log --pretty=format:'%C(red)%h%Creset - %C(green)%d %Creset%s - %C(bold blue)[%cn]' --decorate --numstat
